		@font-face {
			font-family: BadScript-Regular;
			src: url(../fonts/BadScript-Regular.ttf);
		}

		body{
			width: 700px;
			margin: 50px auto;
		}

		#content h3{
			font-family: BadScript-Regular;
			text-indent: 20px;
			text-decoration: underline;
		}

		#content p{
			font-family: BadScript-Regular;
			text-indent: 20px;
		}