div {
	width: 80%;
	padding: 2em;
	background-color: #ccc;
	background-image: url(../img/b-r.gif),url(../img/b-l.gif), url(../img/t-l.gif), url(../img/t-r.gif), url(../img/l.gif), url(../img/r.gif), url(../img/t.gif), url(../img/b.gif);
	background-repeat: no-repeat,no-repeat,no-repeat,no-repeat, repeat-y,repeat-y,repeat-x,repeat-x;
	background-position: bottom right, bottom left, top left, top right, left,right,top,bottom;
}